<li [ngClass]="{'list-group-item': true, 'list-group-item-success': post.loveIt>0, 'list-group-item-danger': post.loveIt<0}">
  <div>
      <span class="h2">{{ post.title }}</span>
      <span class="float-right"><span class="badge">{{ post.loveIt }}</span> {{ post.created_at | date: 'short' }}</span>
  </div>
  

  <p>{{ post.content }}</p>
  <button type="button" name="loveIf" class="btn btn-success" (click)="onLoveIt(post,indexItem)">Love It!</button>
  <button type="button" name="onDoNotLoveIt" class="btn btn-danger" (click)="onDoNotLoveIt(post,indexItem)">Don't Love It!</button>
  <button type="button" name="remove" class="float-right btn btn-danger"  (click)="onDelete(indexItem)">Supprimer Post</button>
</li>
